{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container mx-auto p-y row d-flex justify-content-center align-items-center mt-5">

  <div class="col-lg-6 col-md-10 col-sm-12 mt-5 mb-5">

<h1>{% trans "Sign Out" %}</h1>

<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="btn btn-primary btn-block mb-4" type="submit">{% trans 'Sign Out' %}</button>
</form>

</div>
</div>

{% endblock %}
