{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}


<div class="container mx-auto p-y row d-flex justify-content-center align-items-center mt-5">

  <div class="col-lg-6 col-md-10 col-sm-12 mt-5 mb-5">
  {% if process == "connect" %}
<h1>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>

<p>{% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}</p>
{% else %}
<h1>{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</h1>

<p>{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from {{ provider }}.{% endblocktrans %}</p>
{% endif %}

<form method="post">
  {% csrf_token %}
  <button class="btn btn-primary btn-block mb-4" type="submit">{% trans "Continue" %}</button>
</form>

</div>
</div>
{% endblock %}
