<!DOCTYPE html>
<html>
<head>
 
    <style> 
.textboxContainer {
  text-align: left;
  color: red;
  display:block;

  border-color: rgb(0, 0, 7);

}
    </style>

</head>
<body>
  
<div id="textboxContainer">
  

 </div>
  <button onclick="addTextbox(event)">Click Me!</button>
  
  <script type="text/javascript">
    function addTextbox(event) {
          var input = document.createElement("input");
          name="firstname"
          input.setAttribute("type", "text");
          input.setAttribute("name", name+ "second");
          input.classList.add("textboxContainer");
          document.getElementById("textboxContainer").appendChild(input);
    }
  </script>
</body>
</html>