<!DOCTYPE html> 
<html> 
    <head> 
          
        <!-- CSS property to place div
            side by side -->
        <style> 
            #leftbox {
                float:left; 
                background:Red;
                width:40%;
                height:280px;
            }
            #middlebox{
                float:left; 
                background:Green;
                width:40%;
                height:280px;
            }
         
            h1{
                color:green;
                text-align:center;
            }
        </style> 
    </head> 
      
    <body> 
        <div id = "boxes">
            <h1>GeeksforGeeks</h1>
              
            <div id = "leftbox">
                <h2>Learn:</h2>
                It is a good platform to learn programming.
                It is an educational website. Prepare for
                the Recruitment drive  of product based 
                companies like Microsoft, Amazon, Adobe 
                etc with a free online placement preparation 
                course.
            </div> 

            
            <div id = "middlebox">
                <h2>GeeksforGeeks:</h2>
                The course focuses on various MCQ's & Coding 
                question likely to be asked in the interviews
                & make your upcoming placement season efficient
                and successful.
            </div>
        

            <button onclick="showHideTextBox()">Click Me to Show/Hide</button>
            <input type="textbox" id="city">
            <script>
                function showHideTextBox(){
                  var x = document.getElementById("city");
                  if (x.style.display === "none") {
                    x.style.display = "block";
                  } else {
                    x.style.display = "none";
                  }
                }
            </script>
            
        </div>
    </body> 
</html>              