

{% extends "hometemplate.html" %}
{% load static %}



{% block content %}




    <main id="main">
      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        
<form method="post">
        {% csrf_token %}

        <div class="container shadow-lg" data-aos="fade-up">
        <div class="row">
          <div class="border-div col-lg-12">
              
              <button type="button" class="btn tab-btn border-0" disabled>Modes:</button>
              <button type="button" class="btn tab-btn hvr-underline-from-center">Standard</button>
              <button type="button" class="btn tab-btn hvr-underline-from-center">Fluency</button>
              <button type="button" class="btn tab-btn hvr-underline-from-center">Formal</button>
              <button type="button" class="btn tab-btn hvr-underline-from-center">Simple</button>
              <button type="button" class="btn tab-btn hvr-underline-from-center">Creative</button>
              <button type="button" class="btn tab-btn hvr-underline-from-center">Expand</button>
              <button type="button" class="btn tab-btn hvr-underline-from-center">Shorten</button> Synonyms:</button>
              <input type="range" class="form-range" id="customRange1"><i class="bi bi-gem hira"></i>
          </div>
          <div class="col-lg-6 order-2 order-lg-1 content m-0 p-0" data-aos="fade-right" data-aos-delay="100">
              
              <h2>Write Text</h2>
              <textarea class="textarea-1 p-2" name="text" placeholder="QuillBot will rewrite your text. Start by writing or pasting something here and then press the Paraphrase button."></textarea>
              <div class="lg-btn">
              

              <button type="submit" class="MuiButton-root MuiButton-contained MuiButton-containedPrimary MuiButton-sizeMedium MuiButton-containedSizeMedium MuiButtonBase-root quillArticleBtn css-1r3yqip para-btn btnsm" tabindex="0" type="button">
                Generate
              </button>

           

              </div>



          </div>
 

          <div class="col-lg-6 order-1 order-lg-2 m-0 p-2 bordrbttm" data-aos="fade-left" data-aos-delay="100">
              <h2>Write Questions</h2>
              <textarea class="textarea-1 p-2" name="output" placeholder="QuillBot will rewrite your text. Start by writing or pasting something here and then press the Paraphrase button."> </textarea>
          
                <label for="file-input">
                  <i class="bi bi-cloud-upload iconlgnone"></i> <span class="upload-doc iconlgnone"> Upload Doc</span>
                </label>
            
              
            <button class="btn btn-sm minidisply">Hala </button>
          </div>

      
       

      <div id="textbox-container"></div>
</form>



      </section>

    
<section id="about" class="about">

  <div class="container shadow-lg" data-aos="fade-up">
    <h2>Answers</h2>
        <div class="row">
  
    <div class="col-lg-6 order-1 order-lg-2 m-0 p-2 bordrbttm" data-aos="fade-left" data-aos-delay="100">
              <textarea class="textarea-1 p-2" name="output" placeholder="QuillBot will rewrite your text. Start by writing or pasting something here and then press the Paraphrase button."> Ask Questions  </textarea>
          
          
          </div>

           </div>

            </div>
</section>
   

 
    </main>

     
    

{% endblock %}









