{% extends "hometemplate.html" %}
{% load static %}



{% block content %}

       
        <h2>This is for Comprehension</h2>
        <br>

        <form id="myForm" method="post">
        {% csrf_token %}
        
        
        
  <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        
        <div class="col-xl-6 col-md-4">
          <h2>Enter Text</h2>
            
            
            <textarea  name="text" rows="4"></textarea>
        
        
            <br>
            <br>
          
            <button id="add-textbox-button">Add Questions</button>
  
            <div id="textbox-container"></div>
           
           <script type="text/javascript">
               // Initialize the textbox counter
           var textboxCounter = 0;
           
           document.getElementById("add-textbox-button").addEventListener("click", function() {
             // Increment the textbox counter
             textboxCounter++;
           
             // Create the textbox element
             var textbox = document.createElement("input");
             textbox.type = "text";
             textbox.name = "textbox" + textboxCounter;
             textbox.classList.add("textbox-container");
           
             // Add the textbox to the container
             document.getElementById("textbox-container").appendChild(textbox);
             event.preventDefault();
           });
           
             </script>
            
            <br>
            <br>
            
            <input type="submit" value="Submit">
            
            </form>
            
            <br>
            <br>
            
          </div>
          
          
        
        
         
            
          <div class="col-xl-6 col-md-8">
            
            <h2>Output</h2>

            <!-- <div class="input-group"> -->
            
            <textarea  name="output" aria-label="With textarea">{{translation}}</textarea>
          
          
          </div>
          
        
        
        
       
        
      </div>

       
        <!-- <div class="input-group"> -->
        
         

        <!-- About the columns in the end -->

        
      


{% endblock %}