{% extends "base.html" %}
{% load static %}



{% block content %}

       
     
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">
      
              <div class="section-title">
                <h2>Contact</h2>
                <p>Contact Us</p>
              </div>
      
            
      
              <div class="row mt-5">
      
                
      
                <div class="col-lg-8 mt-5 mt-lg-0">
      
                  <form action="{% url 'contact' %}" method="post"  >
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-6 form-group">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                      </div>
                      <div class="col-md-6 form-group mt-3 mt-md-0">
                        <input type="email" class="form-control" name="from_email" id="email" placeholder="Your Email" required>
                      </div>
                    </div>
                    <div class="form-group mt-3">
                      <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                    </div>
                    <div class="form-group mt-3">
                      <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                    </div>
                    <div class="my-3">
                      <div class="loading">Loading</div>
                     
                      <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="form-actions"><button type="submit">Send Message</button></div>
                  </form>
      
                </div>
      
              </div>
      
            </div>
          </section><!-- End Contact Section -->
      
        </main><!-- End #main -->
        
      


{% endblock %}