{% extends "hometemplate.html" %}
{% load static %}



{% block content %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
       
        <h2>This is to correct grammatical mistakes</h2>

        <br>
        <form id="myForm" method="post">
        {% csrf_token %}
        
        <div class="input-group">
        
            <textarea class="form-control" name="text" aria-label="With textarea"></textarea>
        
        </div>
        
        <br>
        <input type="submit" value="Submit">
        </form>
     
        <br>
        <h2>Corrected sentence</h2>
        <br>
        <div class="input-group">
        
            <textarea class="form-control" name="text" aria-label="With textarea">{{ correctsentence }}</textarea>
        
        </div>
        
    
           
    </body>
</html>

{% endblock %}