{% extends "base.html" %}
{% load static %}



{% block content %}




    <main id="main">
      
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>GRAMMAR CHECK</h2>
          
        </div>

        <div class="d-flex justify-content-between align-items-center">
           
          <p>Make your sentence grammatically correct!</p>
          
        </div>

      </div>
    </section>


      <!-- ======= About Section ======= -->
   
  <section id="about" class="about">
    <form method="post">
        {% csrf_token %}
    

        <div class="container shadow-lg">
        <div class="row">
          <div class="border-div col-lg-12">              
              <button type="button" class="btn tab-btn border-0" disabled>Modes:</button>
              <!-- <button type="button" class="btn tab-btn hvr-underline-from-center">Standard</button>
              <button type="button" class="btn tab-btn hvr-underline-from-center">Fluency</button>
              <button type="button" class="btn tab-btn hvr-underline-from-center">Formal</button>
              <button type="button" class="btn tab-btn hvr-underline-from-center">Simple</button>
              <button type="button" class="btn tab-btn hvr-underline-from-center">Creative</button> -->
              <button type="button" class="btn tab-btn hvr-underline-from-center">Standard</button>
              <button type="button" class="btn tab-btn hvr-underline-from-center">Advance<sup class="super_script">PRO</sup></button>
              <button type="button" class="btn tab-btn border-0" disabled>Words Range:</button>
              <input type="range" class="form-range" id="customRange1"><i class="bi bi-gem hira"></i>
          </div>
          
          <div class="col-lg-6 content m-0 p-0 bordrbttm">
              <textarea id="id_textarea" class="textarea-1 p-2" name= "text" placeholder="Write a sentence here.">{{text}}</textarea>
              
              <div class="col-lg-6 col-md-5 col-sm-12 parbtn-div">
                <button class="btn bt-sm me-4 parbtn"style="">Check</button>
              </div>
          </div>
          <div class="col-lg-6 m-0 p-0 bordrbttm " >
            
            <textarea class="textarea-1 p-2" name= "output" placeholder="Output with correct grammar will be displayed here..">{{correctsentence}}</textarea>
          </div>

        </div>

      </div>
</form>
      </section>
 
    </main>

     
    
    <script>
      document.querySelectorAll('.textarea-1')[1].scrollIntoView()
      </script>  




{% endblock %}