{% extends "base.html" %}



{% block content %}



    
    <body>
        <div class="container mx-auto p-y row d-flex justify-content-center align-items-center mt-5">
            <div class="col-lg-6 col-md-10 col-sm-12 mt-5 mb-5 ">
         
          
          <h6>Hold on there.... We will try to scale up the system very quickly. Please try again shortly  :)</h6>
          
        
                
            </div>

        
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
        </div>

        </body>


{% endblock %}