{% extends "hometemplate.html" %}
{% load static %}

{% block content %}


<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
       
    <br>
        <h1>This is to summary</h1>

        <form id="myForm" method="post">
        {% csrf_token %}
        
        <div class="input-group">
            <textarea class="form-control" name="text"  cols="10" aria-label="With textarea"></textarea>
        </div>

    <br>

        <input type="submit" value="Submit">
        </form>
     
    
            {% if correcttitle %}
        <h1>Title: {{correcttitle}}</h1>
        
            {% endif %}
        
            {% if correctsummary %}
        
            <h2>Summary {{ correctsummary }}</h2>

            {% endif %}
        
       
    </body>
</html>


{% endblock %}