{% extends "base.html" %}
{% load static %}



{% block content %}




    <main id="main">
      <!-- ======= About Section ======= -->
      <section class="breadcrumbs">
        <div class="container">
  
          <div class="d-flex justify-content-between align-items-center">
            <h2>SUMMARY/ PRECIS</h2>
            
          </div>

          <div class="d-flex justify-content-between align-items-center">
           
            <p>Write precis/summary of any paragraph provided. You will also get the title of the passage.</p>
            
          </div>
  
        </div>
      </section>
  <section id="about" class="about">
    <form method="post">
        {% csrf_token %}
    

        <div class="container shadow-lg">
        <div class="row">
          <div class="border-div col-lg-12">              
            <button type="button" class="btn tab-btn border-0" disabled>Modes:</button>
            <!-- <button type="button" class="btn tab-btn hvr-underline-from-center">Standard</button>
            <button type="button" class="btn tab-btn hvr-underline-from-center">Fluency</button>
            <button type="button" class="btn tab-btn hvr-underline-from-center">Formal</button>
            <button type="button" class="btn tab-btn hvr-underline-from-center">Simple</button>
            <button type="button" class="btn tab-btn hvr-underline-from-center">Creative</button> -->
            <button type="button" class="btn tab-btn hvr-underline-from-center">Standard</button>
            <button type="button" class="btn tab-btn hvr-underline-from-center">Advance<sup class="super_script">PRO</sup></button>
            <button type="button" class="btn tab-btn border-0" disabled>Summary Words:</button>
            <input type="range" class="form-range" min="0" max="200" name="vol" value="50" id="myRange" oninput="updateValue()">
              <span id="rangeValue">50</span><i class="bi bi-gem hira"></i>
        </div>
          
          <div class="col-lg-6 content m-0 p-0" >
              <textarea class="textarea-1 p-2" name= "text" placeholder="Insert the passage here for summary/preics.">{{text}}</textarea>
              
              <div class="col-lg-6 col-md-5 col-sm-12 parbtn-div">
                <button onclick="addPreloader()" class="btn bt-sm me-4 parbtn"style="">Write Summary</button>
              </div>
          </div>
          <div class="col-lg-6 m-0 p-2 bordrbttm" >
            <textarea class="textarea-1 m-0 p-0" name= "output" placeholder="Output will be displayed here..">{{correctsummary}}</textarea>
          </div>

        </div>

      </div>
</form>
      </section>
 
    </main>

     
    <!-- <script>
      document.querySelectorAll('.textarea-1')[1].scrollIntoView()
      </script>    -->



<script>
  
  function updateValue() {
    var range = document.getElementById("myRange");
    var span = document.getElementById("rangeValue");
    span.innerHTML = range.value;
  }
 



</script>


<script>
function addPreloader() {
var preloader = document.createElement("div");
preloader.id = "preloader";
document.body.appendChild(preloader);
window.location.reload();
}

window.addEventListener("load", function() {
var preloader = document.getElementById("preloader");
if (preloader) {
  preloader.parentNode.removeChild(preloader);
}
});
</script>



{% endblock %}