{% extends "homeplate_new_new.html" %}
{% load static %}



{% block content %}




    <main id="main">
      <!-- ======= About Section ======= -->
   
  <section id="about" class="about">
    <form method="post">
        {% csrf_token %}
    

        <div class="container shadow-lg">
        <div class="row">
          <div class="border-div col-lg-12">              
              <button type="button" class="btn tab-btn border-0" disabled>Modes:</button>
              <button type="button" class="btn tab-btn hvr-underline-from-center">Standard</button>
              <button type="button" class="btn tab-btn hvr-underline-from-center">Fluency</button>
              <button type="button" class="btn tab-btn hvr-underline-from-center">Formal</button>
              <button type="button" class="btn tab-btn hvr-underline-from-center">Simple</button>
              <button type="button" class="btn tab-btn hvr-underline-from-center">Creative</button>
              <button type="button" class="btn tab-btn hvr-underline-from-center">Expand</button>
              <button type="button" class="btn tab-btn hvr-underline-from-center">Shorten</button> Synonyms:</button>
              <input type="range" class="form-range" id="customRange1"><i class="bi bi-gem hira"></i>
          </div>
          
          <div class="col-lg-6 content m-0 p-0" data-aos="fade-right" data-aos-delay="100">
              <textarea class="textarea-1 p-2" name= "text" placeholder="Input here QuillBot will rewrite your text. Start by writing or pasting something here and then press the Paraphrase button."></textarea>
              <div class="col-lg-6 col-md-7 col-sm-12 icodiv">
                  <label for="file-input" class="fileinput">
                      <i class="bi bi-cloud-arrow-up iconsmnone"></i><span class="upload-doc iconsmnone"> Upload Doc</span>
                  </label>
              </div>
              <div class="col-lg-6 col-md-5 col-sm-12 parbtn-div">
                <button class="btn bt-sm me-4 parbtn"style="">Paraphrase</button>
              </div>
          </div>
          <div class="col-lg-6 m-0 p-2 bordrbttm" >
              <textarea class="textarea-1 m-0 p-0" name= "output" placeholder="Output here 
              QuillBot will rewrite your text. Start by writing or 
              pasting something here and then press the Paraphrase button.">
              
              {% if correcttitle  %}
              Summary:{{correctsummary}} {{br}} Title:{{correcttitle}}  

              {% endif %}</textarea>
          </div>

        </div>

      </div>
</form>
      </section>
 
    </main>

     
    <script>
      document.querySelectorAll('.textarea-1')[1].scrollIntoView()
      </script>   

{% endblock %}