{% extends "hometemplate.html" %}
{% load static %}

{% block content %}


<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
       
        <h1>This is for Synonyms and Antonyms</h1>
        
        <br>
        
        <form id="myForm" method="post">
        {% csrf_token %}
        
        <div class="input-group">
        
        <textarea class="form-control" name="text"  cols="10" aria-label="With textarea"></textarea>
        
        </div>

        <br>
        
        <input type="submit" value="Submit">
        </form>
     
        <br>
    
        {% if word_meaning %}
        <div class="card" style="width: 50rem;">
        
            <div class="card-body">
                
               
              
                <p class="card-text">Meaning: {{word_meaning}}.</p>
              
                <p class="card-text">Synonym: {{word_synonym}}.</p>
        
                <p class="card-text">Antonym: {{word_antonym}}.</p>
                
            
            </div>
          </div>
          {% endif %} 
    
       
    </body>
</html>

{% endblock %}