{% extends "hometemplate.html" %}
{% load static %}



{% block content %}

       
        <h2>This is for For the translation in a language given</h2>
        <br>

        <form id="myForm" method="post">
        {% csrf_token %}
        
        
        <div class="input-group">
        
          <textarea class="form-control" name="text" aria-label="With textarea"></textarea>
        </div>
        
        <br>
        <br>

        <input type="radio" name="lang" value="Urdu">Urdu </input>
        <input type="radio" name="lang" value="Hindi">Hindi </input>
        <input type="radio" name="lang" value="English">English </input>
        
        <br>
        <br>
        
        <input type="submit" value="Submit">
        
        </form>
        
        <br>
        <br>
        

        <!-- About the columns in the end -->

        <h2>TRANSLATION</h2>

        <div class="input-group">
        
          <textarea class="form-control" name="output" aria-label="With textarea">{{translation}}</textarea>
        </div>


{% endblock %}