{% extends "hometemplate_new.html" %}
{% load static %}

   


{% block content %}
    <main id="main">
      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container shadow-lg" data-aos="fade-up">
        <div class="row">
          <div class="border-div col-lg-12">
              
              <button type="button" class="btn tab-btn border-0" disabled>Quick Hover:</button>
              <button type="button" class="btn tab-btn hvr-underline-from-center">Grammar</button>
              <button type="button" class="btn tab-btn hvr-underline-from-center">Antonym/ Synonym</button>
              <button type="button" class="btn tab-btn hvr-underline-from-center">Sentence</button>
              <button type="button" class="btn tab-btn hvr-underline-from-center">Comprehension</button>
              <button type="button" class="btn tab-btn hvr-underline-from-center">Active Voice/ Passive voice</button>
              <button type="button" class="btn tab-btn hvr-underline-from-center">Expand</button>
              <button type="button" class="btn tab-btn hvr-underline-from-center">Shorten</button> Synonyms:</button>
              <input type="range" class="form-range" id="customRange1"><i class="bi bi-gem hira"></i>
          </div>
          <div class="col-lg-6 order-2 order-lg-1 content m-0 p-0" data-aos="fade-right" data-aos-delay="100">
              <textarea class="textarea-1 p-2" placeholder="QuillBot will rewrite your text. Start by writing or pasting something here and then press the Paraphrase button."></textarea>
              <div class="lg-btn">
                  <label for="file-input">
                      <i class="bi bi-cloud-arrow-up iconsmnone"></i> <span class="upload-doc iconsmnone"> Upload Doc</span>
                  </label>
                  <input id="file-input" type="file" class="image-upload" />
              <button class="MuiButton-root MuiButton-contained MuiButton-containedPrimary MuiButton-sizeMedium MuiButton-containedSizeMedium MuiButtonBase-root quillArticleBtn css-1r3yqip para-btn btnsm" tabindex="0" type="button">
                Paraphrase
              </button>
              </div>

          </div>
          <div class="col-lg-6 order-1 order-lg-2 m-0 p-2 bordrbttm" data-aos="fade-left" data-aos-delay="100">
              <textarea class="textarea-1 p-2" placeholder="QuillBot will rewrite your text. Start by writing or pasting something here and then press the Paraphrase button."></textarea>
              <div>
                
              </div>
                <label for="file-input">
                  <i class="bi bi-cloud-upload iconlgnone"></i> <span class="upload-doc iconlgnone"> Upload Doc</span>
                </label>
            <button class="btn btn-sm minidisply">Paraphrase </button>
          </div>

        </div>

      </div>

      </section>
     
    </main>
    <!-- End #main -->

    

  
{% endblock %}