<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
       
        <h1>This is for For the translation in a language given</h1>

        <form id="myForm" method="post">
        {% csrf_token %}
        
        <textarea id="w3review" name="text" rows="2" cols="50">
            Enter..</textarea>

        
        <input type="radio" name="lang" value="Urdu">Urdu </input>
        <input type="radio" name="lang" value="Hindi">Hindi </input>
        <input type="radio" name="lang" value="English">English </input>
        
        <input type="submit" value="Submit">
        
        </form>
        
        {% if translation %}
        <h2>Translation: {{translation}}</h2>
        {% endif %}
        
        
    </body>
</html>