<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
    
        
        {% for blog in blogs  %}
    
    <h1>{{blog.title}}</h1>
    <h2>{{blog.content}}</h2>
    <h3>{{blog.date_posted}}</h3>

    {% endfor %}
    </body>
</html>